body {
	background: url("../Recursos/fondo.jpg") no-repeat center center fixed;	
	margin: 0%;
}

header nav {	
	
	
	
	margin-bottom: 10px;
    background:#f1c40f;
}

header nav ul
{
    list-style: none;
    overflow: hidden;
}
header nav ul li
{
    float: left;    
}
header nav ul li a 
{
	width: 100%;
    display:  block;
    padding: 20px;
    color:#fff;
    text-decoration:none;
}
header nav ul li a:hover 
{
   background:  #2ecc71 ;
}
#menu
{
    position: fixed;
    z-index: 1000px;
    top: 0;
    width:150%;
    max-width: 1000px;
    box-shadow: 0px 4px 3px  rgba(0, 0,0,.5)
}

*{
    padding: o;
    margin: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box ; 
    -box-sizing:border-box;
   
}


.logo1{
    
	background-color: #FFFF00;
	width:200px;
	height:200px;
	border-radius: 50%;
	padding: 10px;
	border: 2px solid grey;
	margin-top: 80px;
	margin-left: 0px;
}
h3{
	border-top-width: 400px;
	text-align: center;
	width: 800px;
}
.td1
{
	border-top: 400px;
	width:1000px;
	height: 50px;
}


#img
{
	width: 420px;
	height: 315px;
	border-radius: 50%;
	padding: 10px;
	border: 2px solid grey;
}

#seccion1
{
	padding: 100px;
}

article {

	float: left;	
	width: 70%;
	text-align: justify;
}


#img1
{
	width: 420px;
	height: 315px;
	border-radius: 50%;
	padding: 10px;
	border: 2px solid grey;
}
#seccion2
{
	padding: 300px;
}

#articulo3 {

	float: left;	
	width: 30%;
}


#seccion3
{
	padding: 200px;
}
#img2
{

	width: 420px;
	height: 315px;
	border-radius: 50%;
	padding: 10px;
	border: 2px solid grey;


}
#articulo5 {

	float: left;	
	width: 30%;
}


#seccion4
{
	align-items: right;
	padding: 200px;
}
#img3
{
	width: 420px;
	height: 315px;
	border-radius: 50%;
	padding: 10px;
	border: 2px solid grey;
}
#articulo7 {

	float: left;	
	width: 30%;
}


#gitart1
{
	padding: 100px;
	float: right;
	width: 60%;
}
#titulogit
{
	color: orange;
    padding: 20px;
	width:50%;
}
#seccion15 
{
    color: crimson;
    padding:10px;
	float: left ;
	padding: 0;
    border: 0;
    margin: 10px;
 
}

#articulo17 
{
    color: red;
    padding: 20px;

}

#articulo17 h3
{
    text-align: justify;
    color: black;
    margin: 0;
    
}
#seccion16
{
    color: crimson;
    padding: 20px;
	float: right;
	width:90%;
    margin: 3px;
}

#articulo18 h3
{
    text-align: justify;
    color: black;
    margin: 0;
    
}
#seccion20
{
   color: crimson;
    padding: 40px;
	float: right;
	width:90%;
    margin-left: 0;
}
 h3 
{
    text-align: justify;
    color: black;
    margin: 50px;
 
}

#articulo20 h3
{
    text-align: justify;
    color: black;
    margin: 0;
    
}
#seccion21
{
   color: crimson;
    padding: 40px;
	float: right;
	width:90%;
    margin-left: 0;
}
#seccion21:hover


iframe
{
	margin-left: 50px;
}
p {margin: 50px;
padding: 50px;}
section
{
	margin: 10%;
}

@media screen and (max-width: 480px) 
{

header nav ul li a 
{
	width: 100%;
    display:  block;
    padding: 20px;
    color:#fff;
    text-decoration:none;
}iframe
{
	width: 80%;
}
h3
{
	width: 80%;
	margin:  3px;
	text-align: justify;

}
article
{
	width: 80%;
	margin:  3px;
	text-align: left;

}
.logo1
{
	width:70px;
	margin-top: 0;
	height:70px;
	border-radius: 10%;
}
#img 
{

	width:70%;
	height:70px;
	border-radius: 10%;
	margin-left:0;
	padding: 0;
}
section
{
	padding: 10%;
}
#hpta
{
	width: 100%;
	max-width: 1000px;

}

@media screen and (max-width: 900px) 
{

header nav ul li a 
{
	width: 100%;
    display:  block;
    padding: 20px;
    color:#fff;
    text-decoration:none;
}iframe
{
	width: 80%;
}
h3
{
	width: 80%;
	margin:  3px;
	text-align: justify;

}
article
{
	width: 80%;
	margin:  3px;
	text-align: left;

}
.logo1
{
	width:70px;
	margin-top: 0;
	height:70px;
	border-radius: 10%;
}
#img 
{

	width:70%;
	height:70px;
	border-radius: 10%;
	margin-left:0;
	padding: 0;
}
section
{
	padding: 10%;
}
#hpta
{
	width: 100%;
	max-width: 1000px;

}



@media screen and (max-width:1200px) 
{

header nav ul li a 
{
	width: 100%;
    display:  block;
    padding: 20px;
    color:#fff;
    text-decoration:none;
}iframe
{
	width: 80%;
}
h3
{
	width: 80%;
	margin:  3px;
	text-align: justify;

}
article
{
	width: 80%;
	margin:  3px;
	text-align: left;
	padding: 0;

}
.logo1
{
	width:70px;
	margin-top: 0;
	height:70px;
	border-radius: 10%;
}
#img 
{

	width:70%;
	height:70px;
	border-radius: 10%;
	margin-left:0;
	padding: 0;
}
section
{
	padding: 10%;
}
#hpta
{
	width: 100%;
	max-width: 1000px;

}


